## Preprocessing

In [147]:
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [148]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df2 = application_df.drop(["EIN", "NAME"], axis =1)
application_df2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [149]:
# Determine the number of unique values in each column.
application_df2.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [150]:
# Look at APPLICATION_TYPE value counts for binning
application_types_count = application_df2.APPLICATION_TYPE.value_counts()
application_types_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [151]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_types_count[application_types_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df2['APPLICATION_TYPE'] = application_df2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [152]:
# Look at CLASSIFICATION value counts for binning
application_class_count = application_df2.CLASSIFICATION.value_counts()
application_class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2561        1
C2570        1
C4200        1
C8210        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [153]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_above1= list(application_class_count[application_class_count > 1])
classification_counts_above1

[17326,
 6074,
 4837,
 1918,
 1883,
 777,
 287,
 194,
 116,
 114,
 104,
 95,
 75,
 58,
 50,
 36,
 34,
 32,
 32,
 30,
 20,
 18,
 16,
 15,
 15,
 14,
 11,
 10,
 10,
 9,
 9,
 7,
 6,
 6,
 6,
 5,
 5,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2]

In [154]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_class_count[application_class_count < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df2['CLASSIFICATION'] = application_df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [155]:
application_df2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [156]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_data = application_df2.dtypes[application_df2.dtypes == "object"].index.tolist()
application_df2[categorical_data].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            7
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [157]:
# Use OneHotEncoder to convert categorical data
encoder = OneHotEncoder(sparse=False)

# Enumerate Categorical data
enum_df = pd.DataFrame(encoder.fit_transform(application_df2[categorical_data]))

# Name encoded columns
enum_df.columns = encoder.get_feature_names(categorical_data)
enum_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [158]:
# Merge encoded data with application_df2 dataframe and drop categorical data that has been encoded
application_df_prep = application_df2.merge(enum_df,left_index=True, right_index=True)
application_df_prep = application_df_prep.drop(categorical_data,axis = 1)
application_df_prep.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [161]:
# Split our preprocessed data into our features and target arrays
X = application_df_prep.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df_prep["IS_SUCCESSFUL"].values

# Split the preprocessed data into training and test data sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=67)

In [162]:
X_train

array([[1.0000000e+00, 1.1830200e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.4651000e+04, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 3.6791000e+04, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.1502805e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [163]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [164]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  120
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 10
hidden_nodes_layer4 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="sigmoid"))

# Output layer 

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_83 (Dense)            (None, 120)               5400

 dense_84 (Dense)            (None, 40)                4840

 dense_85 (Dense)            (None, 10)                410

 dense_86 (Dense)            (None, 5)                 55

 dense_87 (Dense)            (None, 1)                 6

=================================================================
Total params: 10,711
Trainable params: 10,711
Non-trainable params: 0
_________________________________________________________________

In [165]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints_optimized/",exist_ok=True)
checkpoint_dir = "checkpoints_optimized/weights.{epoch:02d}.hdf5"

In [166]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [167]:
from keras.callbacks import Callback
from tensorflow.keras.callbacks import ModelCheckpoint

# Create a callback that saves the model's weights every 5 epochs
checkpoint = ModelCheckpoint(filepath = checkpoint_dir, monitor='loss', verbose=1,
    save_best_only=True, mode='auto', period=5)


# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[checkpoint])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 1s 696us/step - loss: 0.6025 - accuracy: 0.6976
Epoch 2/100
804/804 [==============================] - 1s 700us/step - loss: 0.5620 - accuracy: 0.7299
Epoch 3/100
804/804 [==============================] - 1s 704us/step - loss: 0.5554 - accuracy: 0.7320
Epoch 4/100
804/804 [==============================] - 1s 702us/step - loss: 0.5528 - accuracy: 0.7334
Epoch 5/100
796/804 [============================>.] - ETA: 0s - loss: 0.5514 - accuracy: 0.7336
Epoch 5: loss improved from inf to 0.55100, saving model to checkpoints_optimized\weights.05.hdf5
804/804 [==============================] - 1s 747us/step - loss: 0.5510 - accuracy: 0.7337
Epoch 6/100
804/804 [==============================] - 1s 707us/step - loss: 0.5491 - accuracy: 0.7344
Epoch 7/100
804/804 [==============================] - 1s 712us/step - loss: 0.5477 - accuracy: 0.7344
Epoch 8/100
804/804 [==============================] - 1s 710us/step - loss: 0.5464 - accuracy: 0.7337
Epoch 9/100
804/804 [==============================] - 1s 719us/step - loss: 0.5453 - accuracy: 0.7350
Epoch 10/100
788/804 [============================>.] - ETA: 0s - loss: 0.5449 - accuracy: 0.7350
Epoch 10: loss improved from 0.55100 to 0.54452, saving model to checkpoints_optimized\weights.10.hdf5
804/804 [==============================] - 1s 755us/step - loss: 0.5445 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 1s 713us/step - loss: 0.5440 - accuracy: 0.7358
Epoch 12/100
804/804 [==============================] - 1s 728us/step - loss: 0.5432 - accuracy: 0.7358
Epoch 13/100
804/804 [==============================] - 1s 725us/step - loss: 0.5434 - accuracy: 0.7350
Epoch 14/100
804/804 [==============================] - 1s 745us/step - loss: 0.5423 - accuracy: 0.7357
Epoch 15/100
784/804 [============================>.] - ETA: 0s - loss: 0.5424 - accuracy: 0.7370
Epoch 15: loss improved from 0.54452 to 0.54197, saving model to checkpoints_optimized\weights.15.hdf5
804/804 [==============================] - 1s 756us/step - loss: 0.5420 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 1s 775us/step - loss: 0.5413 - accuracy: 0.7367
Epoch 17/100
804/804 [==============================] - 1s 802us/step - loss: 0.5413 - accuracy: 0.7368
Epoch 18/100
804/804 [==============================] - 1s 797us/step - loss: 0.5408 - accuracy: 0.7367
Epoch 19/100
804/804 [==============================] - 1s 769us/step - loss: 0.5408 - accuracy: 0.7369
Epoch 20/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5413 - accuracy: 0.7371
Epoch 20: loss improved from 0.54197 to 0.54076, saving model to checkpoints_optimized\weights.20.hdf5
804/804 [==============================] - 1s 770us/step - loss: 0.5408 - accuracy: 0.7377
Epoch 21/100
804/804 [==============================] - 1s 779us/step - loss: 0.5401 - accuracy: 0.7372
Epoch 22/100
804/804 [==============================] - 1s 734us/step - loss: 0.5399 - accuracy: 0.7375
Epoch 23/100
804/804 [==============================] - 1s 716us/step - loss: 0.5398 - accuracy: 0.7374
Epoch 24/100
804/804 [==============================] - 1s 712us/step - loss: 0.5397 - accuracy: 0.7372
Epoch 25/100
767/804 [===========================>..] - ETA: 0s - loss: 0.5390 - accuracy: 0.7385
Epoch 25: loss improved from 0.54076 to 0.53920, saving model to checkpoints_optimized\weights.25.hdf5
804/804 [==============================] - 1s 854us/step - loss: 0.5392 - accuracy: 0.7383
Epoch 26/100
804/804 [==============================] - 1s 725us/step - loss: 0.5397 - accuracy: 0.7374
Epoch 27/100
804/804 [==============================] - 1s 729us/step - loss: 0.5395 - accuracy: 0.7369
Epoch 28/100
804/804 [==============================] - 1s 755us/step - loss: 0.5394 - accuracy: 0.7370
Epoch 29/100
804/804 [==============================] - 1s 731us/step - loss: 0.5387 - accuracy: 0.7377
Epoch 30/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5399 - accuracy: 0.7354
Epoch 30: loss improved from 0.53920 to 0.53872, saving model to checkpoints_optimized\weights.30.hdf5
804/804 [==============================] - 1s 778us/step - loss: 0.5387 - accuracy: 0.7369
Epoch 31/100
804/804 [==============================] - 1s 741us/step - loss: 0.5382 - accuracy: 0.7375
Epoch 32/100
804/804 [==============================] - 1s 740us/step - loss: 0.5383 - accuracy: 0.7384
Epoch 33/100
804/804 [==============================] - 1s 738us/step - loss: 0.5382 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 1s 741us/step - loss: 0.5379 - accuracy: 0.7383
Epoch 35/100
796/804 [============================>.] - ETA: 0s - loss: 0.5387 - accuracy: 0.7374
Epoch 35: loss improved from 0.53872 to 0.53795, saving model to checkpoints_optimized\weights.35.hdf5
804/804 [==============================] - 1s 812us/step - loss: 0.5379 - accuracy: 0.7382
Epoch 36/100
804/804 [==============================] - 1s 745us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 37/100
804/804 [==============================] - 1s 775us/step - loss: 0.5376 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 1s 797us/step - loss: 0.5375 - accuracy: 0.7382
Epoch 39/100
804/804 [==============================] - 1s 783us/step - loss: 0.5370 - accuracy: 0.7387
Epoch 40/100
741/804 [==========================>...] - ETA: 0s - loss: 0.5362 - accuracy: 0.7403
Epoch 40: loss improved from 0.53795 to 0.53707, saving model to checkpoints_optimized\weights.40.hdf5
804/804 [==============================] - 1s 798us/step - loss: 0.5371 - accuracy: 0.7393
Epoch 41/100
804/804 [==============================] - 1s 791us/step - loss: 0.5367 - accuracy: 0.7386
Epoch 42/100
804/804 [==============================] - 1s 718us/step - loss: 0.5371 - accuracy: 0.7380
Epoch 43/100
804/804 [==============================] - 1s 715us/step - loss: 0.5366 - accuracy: 0.7385
Epoch 44/100
804/804 [==============================] - 1s 724us/step - loss: 0.5367 - accuracy: 0.7387
Epoch 45/100
788/804 [============================>.] - ETA: 0s - loss: 0.5371 - accuracy: 0.7378
Epoch 45: loss improved from 0.53707 to 0.53691, saving model to checkpoints_optimized\weights.45.hdf5
804/804 [==============================] - 1s 739us/step - loss: 0.5369 - accuracy: 0.7381
Epoch 46/100
804/804 [==============================] - 1s 715us/step - loss: 0.5362 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 1s 715us/step - loss: 0.5368 - accuracy: 0.7384
Epoch 48/100
804/804 [==============================] - 1s 725us/step - loss: 0.5360 - accuracy: 0.7387
Epoch 49/100
804/804 [==============================] - 1s 729us/step - loss: 0.5360 - accuracy: 0.7382
Epoch 50/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5360 - accuracy: 0.7385
Epoch 50: loss improved from 0.53691 to 0.53586, saving model to checkpoints_optimized\weights.50.hdf5
804/804 [==============================] - 1s 766us/step - loss: 0.5359 - accuracy: 0.7384
Epoch 51/100
804/804 [==============================] - 1s 743us/step - loss: 0.5358 - accuracy: 0.7383
Epoch 52/100
804/804 [==============================] - 1s 713us/step - loss: 0.5356 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 1s 719us/step - loss: 0.5359 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 1s 719us/step - loss: 0.5367 - accuracy: 0.7377
Epoch 55/100
786/804 [============================>.] - ETA: 0s - loss: 0.5340 - accuracy: 0.7399
Epoch 55: loss improved from 0.53586 to 0.53580, saving model to checkpoints_optimized\weights.55.hdf5
804/804 [==============================] - 1s 750us/step - loss: 0.5358 - accuracy: 0.7381
Epoch 56/100
804/804 [==============================] - 1s 722us/step - loss: 0.5359 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 1s 713us/step - loss: 0.5358 - accuracy: 0.7392
Epoch 58/100

804/804 [==============================] - 1s 710us/step - loss: 0.5356 - accuracy: 0.7390
Epoch 59/100
804/804 [==============================] - 1s 717us/step - loss: 0.5352 - accuracy: 0.7388
Epoch 60/100
793/804 [============================>.] - ETA: 0s - loss: 0.5357 - accuracy: 0.7380
Epoch 60: loss improved from 0.53580 to 0.53539, saving model to checkpoints_optimized\weights.60.hdf5
804/804 [==============================] - 1s 780us/step - loss: 0.5354 - accuracy: 0.7385
Epoch 61/100
804/804 [==============================] - 1s 719us/step - loss: 0.5353 - accuracy: 0.7382
Epoch 62/100
804/804 [==============================] - 1s 717us/step - loss: 0.5350 - accuracy: 0.7386
Epoch 63/100
804/804 [==============================] - 1s 743us/step - loss: 0.5348 - accuracy: 0.7391
Epoch 64/100
804/804 [==============================] - 1s 719us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 65/100
800/804 [============================>.] - ETA: 0s - loss: 0.5348 - accuracy: 0.7396
Epoch 65: loss improved from 0.53539 to 0.53483, saving model to checkpoints_optimized\weights.65.hdf5
804/804 [==============================] - 1s 739us/step - loss: 0.5348 - accuracy: 0.7395
Epoch 66/100
804/804 [==============================] - 1s 712us/step - loss: 0.5352 - accuracy: 0.7392
Epoch 67/100
804/804 [==============================] - 1s 715us/step - loss: 0.5345 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 1s 730us/step - loss: 0.5352 - accuracy: 0.7388
Epoch 69/100
804/804 [==============================] - 1s 712us/step - loss: 0.5343 - accuracy: 0.7395
Epoch 70/100
784/804 [============================>.] - ETA: 0s - loss: 0.5342 - accuracy: 0.7399
Epoch 70: loss improved from 0.53483 to 0.53460, saving model to checkpoints_optimized\weights.70.hdf5
804/804 [==============================] - 1s 755us/step - loss: 0.5346 - accuracy: 0.7393
Epoch 71/100
804/804 [==============================] - 1s 723us/step - loss: 0.5348 - accuracy: 0.7396
Epoch 72/100
804/804 [==============================] - 1s 710us/step - loss: 0.5344 - accuracy: 0.7395
Epoch 73/100
804/804 [==============================] - 1s 723us/step - loss: 0.5346 - accuracy: 0.7395
Epoch 74/100
804/804 [==============================] - 1s 710us/step - loss: 0.5341 - accuracy: 0.7399
Epoch 75/100
782/804 [============================>.] - ETA: 0s - loss: 0.5345 - accuracy: 0.7391
Epoch 75: loss improved from 0.53460 to 0.53395, saving model to checkpoints_optimized\weights.75.hdf5
804/804 [==============================] - 1s 757us/step - loss: 0.5339 - accuracy: 0.7397
Epoch 76/100
804/804 [==============================] - 1s 718us/step - loss: 0.5342 - accuracy: 0.7394
Epoch 77/100
804/804 [==============================] - 1s 710us/step - loss: 0.5339 - accuracy: 0.7402
Epoch 78/100
804/804 [==============================] - 1s 704us/step - loss: 0.5335 - accuracy: 0.7395
Epoch 79/100
804/804 [==============================] - 1s 705us/step - loss: 0.5334 - accuracy: 0.7400
Epoch 80/100
783/804 [============================>.] - ETA: 0s - loss: 0.5342 - accuracy: 0.7397
Epoch 80: loss did not improve from 0.53395
804/804 [==============================] - 1s 718us/step - loss: 0.5340 - accuracy: 0.7397
Epoch 81/100
804/804 [==============================] - 1s 718us/step - loss: 0.5336 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 1s 720us/step - loss: 0.5332 - accuracy: 0.7396
Epoch 83/100
804/804 [==============================] - 1s 707us/step - loss: 0.5335 - accuracy: 0.7402
Epoch 84/100
804/804 [==============================] - 1s 717us/step - loss: 0.5334 - accuracy: 0.7398
Epoch 85/100
784/804 [============================>.] - ETA: 0s - loss: 0.5349 - accuracy: 0.7397
Epoch 85: loss did not improve from 0.53395
804/804 [==============================] - 1s 717us/step - loss: 0.5347 - accuracy: 0.7398
Epoch 86/100
804/804 [==============================] - 1s 717us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 87/100
804/804 [==============================] - 1s 709us/step - loss: 0.5338 - accuracy: 0.7401
Epoch 88/100
804/804 [==============================] - 1s 709us/step - loss: 0.5331 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 1s 719us/step - loss: 0.5337 - accuracy: 0.7402
Epoch 90/100
784/804 [============================>.] - ETA: 0s - loss: 0.5341 - accuracy: 0.7399
Epoch 90: loss improved from 0.53395 to 0.53344, saving model to checkpoints_optimized\weights.90.hdf5
804/804 [==============================] - 1s 757us/step - loss: 0.5334 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 1s 718us/step - loss: 0.5327 - accuracy: 0.7399
Epoch 92/100
804/804 [==============================] - 1s 712us/step - loss: 0.5335 - accuracy: 0.7400
Epoch 93/100
804/804 [==============================] - 1s 714us/step - loss: 0.5332 - accuracy: 0.7402
Epoch 94/100
804/804 [==============================] - 1s 712us/step - loss: 0.5324 - accuracy: 0.7405
Epoch 95/100
786/804 [============================>.] - ETA: 0s - loss: 0.5325 - accuracy: 0.7405
Epoch 95: loss improved from 0.53344 to 0.53249, saving model to checkpoints_optimized\weights.95.hdf5
804/804 [==============================] - 1s 755us/step - loss: 0.5325 - accuracy: 0.7405
Epoch 96/100
804/804 [==============================] - 1s 708us/step - loss: 0.5329 - accuracy: 0.7404
Epoch 97/100
804/804 [==============================] - 1s 708us/step - loss: 0.5327 - accuracy: 0.7398
Epoch 98/100
804/804 [==============================] - 1s 713us/step - loss: 0.5326 - accuracy: 0.7397
Epoch 99/100
804/804 [==============================] - 1s 710us/step - loss: 0.5330 - accuracy: 0.7393
Epoch 100/100
789/804 [============================>.] - ETA: 0s - loss: 0.5333 - accuracy: 0.7407
Epoch 100: loss did not improve from 0.53249
804/804 [==============================] - 1s 712us/step - loss: 0.5331 - accuracy: 0.7406

In [168]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5629 - accuracy: 0.7279 - 196ms/epoch - 730us/step
Loss: 0.562884509563446, Accuracy: 0.7279300093650818

In [169]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

## Brief Analysis
* As we can see above we can not attain result above 75% accuracy
* Likely reason is because Name that we originally dropped from dataframe along with EIN might have repeatable instances of names
* We will try to do Names binning in optimized book.
* With data as is now, increasing number of hidden layers or epochs has a little to no impact on model accuracy